# Dependencies
node_modules
.pnpm-store

# Production build output
dist
dist-ssr

# Local env files
*.local
.env

# Editor & OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
